/* body{
    background-color:black;
} */

.navbar-title{
    color:red;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
    font-size: 40px;

}

.no-padding{
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 0%;
    margin-top: 0%;
}

.navbar-div{
    border-bottom: 1px solid black;
    position: sticky; 
    top:0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.category-div{
    padding-left: 20px;
    padding: 5px;
    background-color: rgb(201, 196, 196);
}

.category{
    

}
.category-img{
    
}

.category-text{
    
}

.center-content{
    justify-content: center;
}

.item-div{
    background-color: white;
    
}

.item{
    display: inline;
    margin-left: 10px;
}

.item-img{
    margin-top: 20px;
}

.footer{
    width: 100%;
    justify-content: center;
    border-top: 1px solid black;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}